.modal-content {
    border-radius: 18px;
    overflow: hidden;
    border: none;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.15);
}

/* ===== HEADER ===== */
.modal-header {
    padding: 16px 20px;
    border-bottom: none;
    background: linear-gradient(135deg, #4f55e5, #6d73ff);
}

.modal-title {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    letter-spacing: 0.4px;
}

.modal-header .close {
    font-size: 22px;
    color: #fff;
    opacity: 0.9;
}

/* ===== BODY ===== */
.modal-body-akun {
    padding: 18px 20px;
    background: #f2f4f7df;
    border-radius: 8px;
    /* background: #f8fafc; */
}

/* ===== CARD BOX (ISI MODAL) ===== */
.modal-edit-akun .col-form-label {
    font-size: 13px;
    font-weight: 500;
    color: #374151;
    letter-spacing: 0.4px;
}

.modal-edit-akun .form-control {
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    font-size: 13px;
    padding: 10px 12px;
    transition: 0.2s;
}

.modal-edit-akun .form-control:focus {
    border-color: #4f55e5;
    box-shadow: 0 0 0 3px rgba(79, 85, 229, 0.15);
}

/* kasih jarak tab content */
.tab-content {
    padding-left: 10px;
}

/* garis pemisah sidebar tab */
.col-md-3.pr-0 {
    border-right: 1px solid #e5e7eb;
}

/* ===== VERTICAL TABS ===== */
.vtabs {
    background: rgba(255, 255, 255, 0.85);

    padding: 10px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

/* tab item */
.vtabs .nav-link {
    border-radius: 10px;
    color: #6b7280;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 12px;
    transition: 0.25s ease;
    display: flex;
    align-items: center;
}

/* hover */
.vtabs .nav-link:hover {
    background: rgba(79, 85, 229, 0.08);
    color: #3d6497;
    border-radius: 13px;
}

.vtabs .nav-link.active {
    background: #3d6497;
    color: #fff !important;
   box-shadow: 0 10px 20px rgba(61, 100, 151, 0.25);
    border-radius: 13px;
}

.vtabs i {
    margin-right: 8px;
    font-size: 15px;
    text-shadow: 0 0 0.5px currentColor;
}
